<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<style>
.content {
  max-width: 50%;
  margin: auto;
  }
.btn-group button {
  background-color: white; /* Green background */
  border: 1px solid white; /* Green border */
  color: black; /* White text */
  padding: 10px 80px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
   /* Float the buttons side by side */
}
.btn-group button:hover {
  background-color: orange;
}





</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TODO APP</a>
</nav>
<div class="content">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                <form action="add_item/" method="post" class="form-inline">

                    <div class="form-group mb-5 my-5">
                        <input type="text" name="content" class="form-control mx-1" placeholder="Type here...">
                        <button type="submit" class="btn btn-primary mx-2 ">Submit</button>
                    </div>

                </form>
            </th>

        </tr>
        </thead>
        <tbody>{% for item in var %}
        <tr>
            <td>{{item.text}}</td>
            <td>
                <form action="delete/{{item.id}}/" method="post">
                    <input type="submit" class="btn btn-success mx-5 mb-2">
                </form>
            </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>


</div>
</body>

</html>